<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_head.ejs') %>
    <%- include('styles.ejs') %>

</head>
<body>
    
    <header>
        <div class="container">
            <div class="row align-items-stretch justify-content-between">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
                    <!-- <h1>
                    <a class="navbar-brand" href="/HTML/inicio.html" target="_blank">SURTIAPP</a>
                    </h1> -->
                    <img src="/img/logotipo surtiapp.png" alt="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <img src="/img/cart.jpeg" class="nav-link dropdown-toggle img-fluid" height="70px"
                                    width="70px" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"></img>
                                <div id="carrito" class="dropdown-menu" aria-labelledby="navbarCollapse">
                                    <table id="lista-carrito" class="table">
                                        <thead>
                                            <tr>
                                                <th>Imagen</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                    <a href="#" id="vaciar-carrito" class="btn btn-primary btn-block">Vaciar Carrito</a>
                                    <a href="#" id="procesar-pedido" class="btn btn-danger btn-block">Procesar
                                        Compra</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="/inicio/sesion"><img src="/img/cerrar sesion.png" alt="cerrarsesion"> <a href=""></a>
                </nav>
            </div>
        </div>
    </header>
    <div class="boton">
        <button><a class="titulo" href ="/crear">Agregar Producto</a></button> - <button><a class="titulo1" href="/inventario">Ver Inventario</a></button>
    </div>

<div class="cuerpo">
    <ul>
        <li>
            <strong>idCategoria: </strong><%= res.idCategoria %>
        </li>
        <li>
            <strong>Categoria: </strong><%= res.categoria %>
        </li>
        <li>
            <strong>Precio: </strong><%= res.valor %>
        </li>
        <li>
            <strong>Cantidad: </strong><%= res.cantidad %>
        </li>
        <li>
            <strong>Lo vendes: </strong><%= res.vendes %>
        </li>
        <li>
            <strong>Le ganas: </strong><%= res.ganas %>
        </li>
        <li>
            <strong>Estado: </strong><%= res.estado %>
        </li>
    </ul>
</div>
